* {
  margin: 0;
  padding: 0;
}

$white: #fff;

@mixin topCardColor() {
  border-top: 0.2rem solid #a97ca1;
}

/* ------------------Card Styles--------------------------------- */

.cards-container {
  margin-top: 6%;
}

.p-card--highlighted {
  @include topCardColor();
}

/* ------------------General Styles--------------------------------- */
hr {
  border: none;
  border-top: 1px dotted gray;
  color: $white;
  background-color: $white;
  height: 1px;
  width: 50%;
}


