* {
  margin: 0;
  padding: 0; }

/* ------------------Card Styles--------------------------------- */
.cards-container {
  margin-top: 6%; }

.p-card--highlighted {
  border-top: 0.2rem solid #a97ca1; }

/* ------------------General Styles--------------------------------- */
hr {
  border: none;
  border-top: 1px dotted gray;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%; }
