<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <div class="cards-container row u-vertically-center" id="cards-container">

        <%- include('../partials/cards') %>

    </div>

</body>

</html>