   <div class="u-equal-height">
   <% apiData.forEach(cardData =>{ %>
 
    <div class="p-card--highlighted col-4">
       
       <p>CLOUD AND SERVER</p>
       <hr class="is-fixed-width">
       <div>
           <img src="<%= cardData.featured_media %>" alt="">
       </div>
       <h3 class="p-card__title p-heading--4"><a href=""><%= cardData.title.rendered %></a></h3>
       <p class="p-card__content p-heading--6">By <a href=""> <%= cardData._embedded.author[0].name %> </a> on <%= cardData.date.split("T")[0] %></p>

       <hr class="is-fixed-width">
       <p>Article</p>
   </div>

   <% }) %>
</div>