    <% apiData.forEach(cardData =>{ %>

    <div class="p-card--highlighted">
        
        <div>
            <img src="<%= cardData.featured_media %>" alt="">
        </div>
        <h3 class="p-card__title"><%= cardData.title.rendered %></h3>
        <p class="p-card__content">If you are an independent software vendor or bundle author, it's easy to apply.
            You can find out more below.</p>
    </div>

    <% }) %>
